</body>

<footer class=" left-0 right-0 z-40 px-4 py-3 bg-violet-400 shadow-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 mt-auto ">
    <span class="text-sm text-black-800 sm:text-center dark:text-gray-400">© 2022 <a href="#" class="hover:underline">TweetE™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-black-800 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>

</html>
