<%- include('../partials/header'); %>


<h1> There should have a container here for tweets</h1>
   <h1> displaying TweetEs</h1>

    <div id="page-products-list" class="container">
      <div class="row my-5">
            <form class="w-full max-w-lg pl-8" id="edit" method="PATCH" action="/post/:post"></form>
              <div class="col-4">
                  <div class="card">
                      <div class="card-body">
                        <p class="card-text"><%= post.tweetEContent %></a></p>
                      </div>
                      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Edit
                      </button>
                  </div>
                </div>
              </div>
            </form>
          <% }) %> 
      </div>
  </div>

<%- include('../partials/footer'); %>
