<%- include('../partials/header'); %>


<h1> There should have a container here for tweets</h1>
<h1> displaying one TweetEs</h1>
<form class="w-full max-w-lg pl-8" id="tweetE" method="POST" action="/post/<%= post.id %>?_method=PATCH">

  <div id="page-products-list" class="container">
    <div class="row my-5">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <p class="card-text"><%= post.tweetEContent %></a></p>
            </div>
          </div>
        </div>
    </div>


    <div class="flex flex-wrap -mx-3 mt-8 mb-6 pl-8">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          EDIT the Happenings!
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
        id="tweetE" name="updateTweetEContent" type="tweetE" placeholder="edit happening?!">
      </div>
    </div>
        
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        TweetE
      </button>
    </div>
  </div>
</form>

<%- include('../partials/footer'); %>
